<div class="story-grid story-grid-5 clearfix">

  <div class="main-image">
    <img src="images/temp/grid-story-main.gif" alt="">
    <div class="content">
      <p>Hotel Management Summit 2015: game-changing travel trends and how to manage them</p>
    </div>
  </div>

  <div class="grid-list">

    <h3 class="block-title">Top Articles<span class="icon icon-down-arrow"></span></h3>

    <div class="grid-content">
      <div class="grid-item">
        <div class="grid-img">
          <img src="images/temp/grid-story.gif"/>
        </div>
        <div class="content">
          <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
          <div class="byline">by <a href="#">First Last</a></div>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-img">
          <img src="images/temp/grid-story.gif"/>
        </div>
        <div class="content">
          <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
          <div class="byline">by <a href="#">First Last</a></div>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-img">
          <img src="images/temp/grid-story.gif"/>
        </div>
        <div class="content">
          <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
          <div class="byline">by <a href="#">First Last</a></div>
        </div>
      </div>

      <div class="grid-item">
        <div class="grid-img">
          <img src="images/temp/grid-story.gif"/>
        </div>
        <div class="content">
          <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
          <div class="byline">by <a href="#">First Last</a></div>
        </div>
      </div>
    </div>

  </div>

</div>
