<div class="popular">

  <h3 class="block-title">Popular</h3>

  <ul>
    <li>
      <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
      <time>Oct 15, 2015 9:45 am</time>
    </li>
    <li>
      <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
      <time>Oct 15, 2015 9:45 am</time>
    </li>
    <li>
      <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
      <time>Oct 15, 2015 9:45 am</time>
    </li>
    <li>
      <h3 class="list-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
      <time>Oct 15, 2015 9:45 am</time>
    </li>
  </ul>

</div>
