<div class="card card-list horizontal clearfix">
  <div class="img-wrap">
    <img class="card-img-left" src="images/temp/card.png" alt="Card image cap">
  </div>

  <div class="card-block-list content">
    <div class="taxonomy">Operations/Management</div>
    <h1 class="list-title"><a href="/article">Small Luxury Hotels of the World appoints Filip Boyen to CEO</a></h1>
    <div class="byline">by <a href="#">First Name</a> Oct 15, 2015 9:45 am</div>
    <p class="card-text">Small Luxury Hotels of the World has appointed Filip Boyen as its new CEO, effective immediately. Boyen, who was appointed as managing director of Hill.</p>
  </div>
</div>

<div class="card card-list horizontal clearfix">
  <div class="img-wrap">
    <img class="card-img-left" src="images/temp/card.png" alt="Card image cap">
  </div>

  <div class="card-block-list content">
    <div class="taxonomy">Taxonomy</div>
    <h1 class="list-title"><a href="/article">Small Luxury Hotels of the World appoints Filip Boyen to CEO</a></h1>
    <div class="byline">by <a href="#">First Name</a> Oct 15, 2015 9:45 am</div>
    <p class="card-text">Small Luxury Hotels of the World has appointed Filip Boyen as its new CEO, effective immediately. Boyen, who was appointed as managing director of Hill.</p>
  </div>
</div>
