<footer id="footer" class="site-footer">
  <div class="wrapper">
    <div class="footer-links">
      <section>
        <h4>Subscribe</h4>
        <ul>
          <li><a href="#">Hotel Management Magazine</a></li>
          <li><a href="#">Hotel Design Magazine</a></li>
          <li><a href="#">Archive</a></li>
          <li><a href="#">Newsletters</a></li>
        </ul>
      </section>
      <section>
        <h4>Events</h4>
        <ul>
          <li><a href="#">IHIF</a></li>
          <li><a href="#">NATHIC</a></li>
          <li><a href="#">APHIC</a></li>
          <li><a href="#">APTDI</a></li>
          <li><a href="#">CATHIC</a></li>
          <li><a href="#">RHIC</a></li>
          <li><a href="#">HOTEC Operations &amp; Technology</a></li>
          <li><a href="#">HOTEC Design</a></li>
        </ul>
      </section>
      <section>
        <h4>Contact Us</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Sales Staff</a></li>
        </ul>
      </section>
      <section>
        <h4>Industry Research</h4>
        <ul>
          <li><a href="#">Hotel Management Surveys</a></li>
        </ul>
      </section>
      <section>
        <h4>Resources</h4>
        <ul>
          <li><a href="#">Ad Specifications</a></li>
          <li><a href="#">Media Kit</a></li>
          <li><a href="#">Trade Assoc. &amp; Organizations</a></li>
        </ul>
      </section>
    </div>
    <div class="footer-message">
      <div id="questex">
        <a href="#" class="logo">
          <img src="images/footer-questex.png" alt="">
        </a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <span>&copy; 2015 Questex Media Group LLC. All rights reserved.<br>Reproduction in whole or part is prohibited.</span>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
<!--script src="js/jquery.stickem.js"></script-->
<script src="js/jquery.flexslider.min.js"></script>
<script src="js/src/scripts.js"></script>
<script src="js/src/articles.js"></script>
<script src="js/src/temp.js"></script>
