<header id="header" class="site-header clearfix">
  <div id="scrollProgress"></div>

  <div class="wrapper stickem">
    <a class="menu-icon icon icon-hamburger"></a>

    <div id="brand">
      <a href="/" class="logo">
        <img src="images/theme/logo.png" alt="">
      </a>
    </div>

    <div class="search">
      <span class="icon icon-search"></span>

      <div id="searchForm">
        <input type="text" id="search-input" placeholder="Search">
        <input type="Search" name="" id="search-submit" value="search">
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="/section">Own</a></li>
        <li class="dropdown active"><a href="/section">Operate</a>
          <ul class="dropdown-menu">
            <li><a href="#">Housekeeping</a></li>
            <li><a href="#">Guest Relations</a></li>
            <li><a href="#">Sales &amp; Marketing</a></li>
            <li><a href="#">Revenue Management</a></li>
            <li><a href="#">Energy Management</a></li>
            <li><a href="#">Maintenance</a></li>
            <li><a href="#">Human Resources</a></li>
            <li><a href="#">Legal</a></li>
          </ul>
        </li>
        <li><a href="/section">Tech</a></li>
        <li><a href="/section">Design</a></li>
        <li><a href="/section">Procure</a></li>
      </ul>

      <ul class="actions">
        <li><a href="/section">Learn</a></li>
        <li><a href="/section">Attend</a></li>
        <li><a href="/section">Subscribe</a></li>
      </ul>
    </nav>
  </div>
</header>


<!-- Twig
<header class="main-header" role="banner">
  {{ page.header }}

  <div class="main-navigation">
    {{ page.main_navigation }}

  </div>
</header>-->
