////////////////////////
// Example Layout
//
// Example layout with header, footer,
// main content, and sidebars.
// Uses singularity.gs sass library
////////////////////////

////////////////////////
// Variables
////////////////////////
$container_width: 960px;
$breakpoints: '';
$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

////////////////////////
// Mixins / Extends
////////////////////////
%container {
    width: $container_width;
    margin: 0 auto;
}

////////////////////////
// Styles
////////////////////////
.container {
    @extend %container;
    @include layout($grids, $gutters, 'isolation');
}

//The sidebar Locations are static
#sidebar-first {
    @include grid-span($sidebar_first_columns, 1);
}
#sidebar-second {
    @include grid-span($sidebar_second_columns, $grids - $sidebar_first_columns + 1);
}

//Create different positionings of Main
#main {
    .sidebar-first & {
        @include grid-span($grids - $sidebar_first_columns, $sidebar_first_columns + 1);
    }
    .sidebar-second & {
        @include grid-span($grids - $sidebar_second_columns, 1);
    }
    .two-sidebars & {
        @include grid-span($grids - $sidebar_first_columns - $sidebar_second_columns, $sidebar_first_columns + 1);
    }
}

#header, #footer {
    @include grid-span($grids, 1);
}
