<div class="newsletter select">

  <h3 class="block-title">Newsletter</h3>

  <ul class="clearfix">
    <li>
      <h3 class="list-title">International Hotel Investment News</h3>
      <div class="sent">Sent daily</div>
    </li>
    <li>
      <h3 class="list-title">Operations Newsletter</h3>
      <div class="sent">Sent daily</div>
    </li>
    <li>
      <h3 class="list-title">Technology Newsletter</h3>
      <div class="sent">Sent Tues. &amp; Thurs.</div>
    </li>
    <li>
      <h3 class="list-title">Design Newsletter</h3>
      <div class="sent">Sent Tues. &amp; Thurs.</div>
    </li>
  </ul>

  <div class="signup clearfix">
    <input type="text" placeholder="Email">
    <input type="submit" name="" id="" value="subscribe">
  </div>

</div>
