////////////////////////
// Button & Links Styleguide
////////////////////////

////////////////////////
// Variables
////////////////////////

$link-color: $client-primary !default;
$link-decoration: none !default;
$link-hover-color: $client-primary !default;
$link-hover-decoration: underline !default;

$btn-font-weight: 700 !default;
$btn-default-color: $white;
$btn-default-bg: $client-primary;
$btn-default-hover-color: $btn-default-color;
$btn-default-hover-bg: $client-primary-dark;



////////////////////////
// Mixins / Extends
////////////////////////
// Default optional styling
@mixin button-default() {
  color: $btn-default-color;
  //border-radius: 4px;
  //border: 1px solid #ccc;
  padding: 6px 12px;
  background: $btn-default-bg;

  &:hover {
    background: $btn-default-hover-bg;
  }
}

// Button base
%btn {
  display: inline-block;
  cursor: pointer;
  touch-action: manipulation;
  white-space: nowrap;
  font-weight: $btn-font-weight;
  text-decoration: none;
  @include button-default;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.65;
  }
}



////////////////////////
// Styles
////////////////////////

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// Buttons
button {
  @extend %btn;
}

input[type="submit"],
input[type="button"] {
  @extend %btn;
}

input[type="search"] {
  @extend %btn;
}

input[type="reset"] {
  @extend %btn;
}
