---
layout: article-long
body-class: article-long widespan
---

<div class="main-image">
  <div class="content">
    <div class="wrapper">
      <h1 class="page-title">Article heading. Lorem ipsum dolor Lorem ipsum dolor sit amet</h1>
      <div class="byline">by: <a href="#">Author Name</a> | <span class="date">Oct 15, 2015</span></div>
    </div>
  </div>
  <img class="article-image" src="images/temp/article-header.jpg"/>
</div>

<div class="article-long-content">
  <div class="article-long-wrapper">
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi! Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodi ipsa minima deserunt ut modi repellendus eaque odio sint dicta ullam animi!</p>
      <img class="img-left outside-left" src="images/temp/card.png"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>

      <img src="images/temp/article-body.jpg" />

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi! Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodi ipsa minima deserunt ut modi repellendus eaque odio sint dicta ullam animi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>

      {% include components/newsletters/newsletter-article-long.html %}

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>

      <div class="byline-bottom clearfix">By: <a href="#">Author Name</a> and <a href="#">Author Name2</a><span class="date">October 15, 2015</span><div class="taxonomy">Taxonomy</div></div>
    </div>
  </div>

</div>
