---
layout: photo-story
body-class: photo-story widespan
---

<div class="main-image">
  <div class="content">
    <div class="wrapper">
      <h1 class="page-title">Story heading. Lorem ipsum dolor Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="byline">by <a href="#">Author Name</a></div>
    </div>
  </div>
  <img class="story-image" src="images/temp/article-header.jpg"/>
</div>

<div class="photo-story-content">
  <div class="wrapper">
    <div class="inline-story-content">
      <img src="images/temp/article-body.jpg" />
      <div class="inline-caption">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      </div>
    </div>
    <div class="inline-story-content">
      <img src="images/temp/article-body.jpg" />
      <div class="inline-caption">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      </div>
    </div>
    <div class="inline-story-content">
      <img src="images/temp/article-body.jpg" />
      <div class="inline-caption">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      </div>
    </div>
    <div class="inline-story-content">
      <img src="images/temp/article-body.jpg" />
      <div class="inline-caption">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      </div>
    </div>
    <div class="inline-story-content">
      <img src="images/temp/article-body.jpg" />
      <div class="inline-caption">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nesciunt, vitae, distinctio molestias amet facere commodi ipsa minima deserunt ut modi repellendus corrupti similique eaque odio sint dicta ullam animi!</p>
      </div>
    </div>
  </div>
</div>
