////////////////////////
// Global Variables
//
// Establish Variables to be used theme-wide here.
//
// Keep layout-related variables in layout.
// Keep text/font-related variables in styleguide/text
////////////////////////

////////////////////////
// Base Text
////////////////////////
$font-size-base: 1.8; // Overwriting Bootstrap variable to use rems.
$line-height-base: 1; // Overwriting bootstrap variable.

////////////////////////
// Project Color Pallette
////////////////////////
$white:   #fff;
$gray_90: #E5E5E5;
$gray_80: #CCC;
$gray_70: #B3B3B3;
$gray_60: #999;
$gray_50: #7F7F7F;
$gray_40: #666;
$gray_30: #4D4D4D;
$gray_20: #333;
$gray_10: #1A1A1A;
$black:   #000;

$client-primary:        #c4161c;
$client-primary-dark:   #9C1116;
$client-primary-light:  #cd5e62;
$client-secondary:      #66a0c8;
$client-secondary-dark: #386a8d;
$client-gray:           #c9c7c7;
$client-gray-dark:      #464545;

$menu-dropdown-bg:      #827e7e;
$menu-dropdown-shadow:  #615e5e;

$client-bg:             #eeecec;

////////////////////////
// Semantic Color Assignments
//
// Using the Color Pallette, create variables with more semantic meaning to be used in styling.
// An example usage is if you had a border color that is commonly used, you could define it like so:
// $client-border-color: $client-primary;
////////////////////////
$base-text-color: $client-gray-dark !default;
$base-border-color: #000 !default;


////////////////////////
// Misc.
////////////////////////
