////////////////////////
// Forms
////////////////////////
// @TODO: reset IOS safari inputs

////////////////////////
// Variables
////////////////////////
$input-text-color: $base-text-color !default;
$input-border-color: lighten($base-border-color, 20%) !default;
$input-bg-color: #fff !default;

////////////////////////
// Mixins / Extends
////////////////////////
%input-base {
  display: block;
  padding: 6px 12px;
  margin: 0;
  color: $input-text-color;
  border: 1px solid $input-border-color;
  background: $input-bg-color;
  @include border-radius(4px);
  @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.075) inset);
  @include transition(border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s)

  &:focus {
    border: 1px solid darken($input-border-color, 10%);
  }
}

%option-base {
  // Hide the input itself
  position: absolute;
  left: -9999px;
  // use label:before element as replacement input
  & + label:before {
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    background: $input-bg-color;
    border: 1px solid $input-border-color;
  }
}

////////////////////////
// Styles
////////////////////////
form {}

// Text-like fields
input {
  &,
  &[type="text"],
  &[type="password"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="date"],
  &[type="month"],
  &[type="time"],
  &[type="week"],
  &[type="number"],
  &[type="email"],
  &[type="url"],
  &[type="tel"],
  &[type="color"] {
    @extend %input-base;
  }
  &[type="search"] {
    box-sizing: border-box;
    @extend %input-base;
  }
  &[type="file"] {
    display: block;
  }
  &[type="range"] {
    display: block;
    width: 100%;
  }
}

// Dropdown select
select {}

// Large text box
textarea {
  @extend %input-base;
  height: auto;
}

// Complementary Components
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  // reset Chrome/FF `min-width: min-content;`
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  border: 0;
}

// Checkbox / radio
input {
  &[type="checkbox"] {
    @extend %option-base;
    // selected state
    &:checked + label:before {
      background: blue;
    }
  }
  &[type="radio"] {
    @extend %option-base;
    // Make it a circle
    & + label:before {
      border-radius: 50%;
    }
    // selected state
    &:checked + label:before {
      background: blue;
    }
  }
}

// Placeholders
::-webkit-input-placeholder { color: $white; opacity: 1 !important; }
::-moz-placeholder          { color: $white; opacity: 1 !important; }
:-ms-input-placeholder      { color: $white; opacity: 1 !important; }
